.Cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--preto); 
    color: var(--cinza);
    padding: 0.25rem 0.5rem;
}

.Cabecalho a{
    text-decoration: none;
    color: var(--cinza);
}

.Cabecalho h1 {
    font-size: 1.3rem;
}
.Cabecalho h1 span {
    color: var(--rosa);
}