.Loading {
    display: inline-flex;
    animation: girar 0.8s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
