.Botao {
    border: 1px solid var(--preto);
    padding: 0.25rem 0.75rem;
    color: var(--preto);
    cursor: pointer;
}

.Botao[tipo="primario"]{
     background: var(--verde);
}

.Botao[tipo="secundario"]{
    background: var(--rosa);
}